body{
    background: #BDBDBD;
}
.jumbotron{
    background-image: url("/website/assets/img/bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 1200px;
}