<!-- your html code here -->

<div class="container my-3">

<div class="row my-5">
    <div class="col-4 p-0">
      <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" width="300" height="200 alt="" srcset="">
    </div>
    <div class="col-8 text-center">
      <h2>
        <span class="text-dark">The Second Heading</span>
        <span class="text-secondary">Is Pretty Cool Too.</span>
    </h2>
      <p class="text-start">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>



</div>